In [11]:
import pandas as pd

In [27]:
try:
    df_raw = pd.read_csv('../data/dataset_saude_brasil.csv', sep=',')
    print("Arquivo carregado com sucesso!")

except FileNotFoundError:
    print("Erro: O arquivo 'dataset_saude_brasil.csv' não foi encontrado no diretório 'data/'.")
    
except Exception as e:
    print(f"Ocorreu um erro inesperado: {e}")

Arquivo carregado com sucesso!

In [29]:
df_raw.head()

,ID,Idade,Sexo,IMC,Passos_Diarios,Horas_Sono,Agua_Litros,Calorias,Fumante,Alcool,Horas_Trabalho,Frequencia_Cardiaca_Repouso,Pressao_Sistolica,Pressao_Diastolica,Colesterol,Historico_Familiar,Risco_Doenca
0,1,69.0,Masculino,29.1,15604.0,7.4,0.9,1297.0,Não,Moderado,8,86,123,95,225.0,Não,Baixo
1,2,32.0,Feminino,22.3,9607.0,7.6,1.9,3529.0,Não,Moderado,12,54,140,85,222.0,Sim,Baixo
2,3,89.0,Masculino,25.6,4160.0,6.7,2.3,4399.0,Não,Moderado,10,75,110,60,131.0,Sim,Moderado
3,4,78.0,Feminino,35.3,3569.0,6.9,0.7,1595.0,Não,Baixo,9,92,167,117,199.0,Não,Alto
4,5,38.0,Masculino,NaN,13174.0,8.2,1.1,1635.0,Não,Baixo,12,73,105,77,266.0,Sim,Moderado